$blue: #0702D1;
$white: #FFFFFF;
$light-gray: #F2F2F4;
$medium-gray: #dadde1;
$dark-gray: #A5Acb6;
$black: #050B1A;
$true-black: #000000;
$green: #2FEDAD;
$near-black: #1A1B1C;
$purple: #463C88;

$blue-background: #2855E3;

$gray-divider: #E3E3E3;

$gray-box: #D7D4D4;

$gray-card-text: #919191;

// Forms
$light-gray-border: #DBDBDB;
$light-gray-text: rgba(0,0,0,0.3);

