// Reset
@import 'lib/reset';

// Essentials
@import 'media-queries';
@import 'z-index';
@import 'colors';
@import 'animations';
@import 'typography';
@import 'base';
@import 'layout';
@import 'responsive';

// Components
@import 'buttons';
@import 'svg';
@import 'navbar';
@import 'footer';

// Pages
@import 'home';
@import 'founders';
@import 'team';
@import '404';

.App {
  display: block !important;
  text-align: center;
}