@font-face {
  font-family: 'Circular Std';
  src: url('./CircularStd-Medium.eot');
  src: url('./CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('./CircularStd-Medium.woff') format('woff'),
    url('./CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./CircularStd-Bold.eot');
  src: url('./CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('./CircularStd-Bold.woff') format('woff'),
    url('./CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./CircularStd-Book.eot');
  src: url('./CircularStd-Book.eot?#iefix') format('embedded-opentype'),
    url('./CircularStd-Book.woff') format('woff'),
    url('./CircularStd-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('./GTWalsheimMedium.eot');
  src: url('./GTWalsheimMedium.eot?#iefix') format('embedded-opentype'),
    url('./GTWalsheimMedium.woff') format('woff'),
    url('./GTWalsheimMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
