/* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h2, h3, h4, .menu, .button-rounded, .button-rounded-blue, .button-rounded-white, .founders span.founders-school, h5, h6, p, form input,
form ::-webkit-input-placeholder, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes shift {
  0% {
    transform: 0; }
  100% {
    transform: translate3d(12rem, 0, 0); } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 1rem, 0); }
  28.57143% {
    opacity: 0;
    transform: translate3d(0, 1rem, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes fade-in-delay {
  0% {
    opacity: 0; }
  58.33333% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slide-up {
  0% {
    transform: translate3d(0, 30rem, 0); }
  28.57143% {
    transform: translate3d(0, 30rem, 0); }
  100% {
    transform: 0; } }

@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(0, -4px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@font-face {
  font-family: 'Circular Std';
  src: url("../font/CircularStd-Medium.eot");
  src: url("../font/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../font/CircularStd-Medium.woff") format("woff"), url("../font/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Circular Std';
  src: url("../font/CircularStd-Bold.eot");
  src: url("../font/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../font/CircularStd-Bold.woff") format("woff"), url("../font/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Circular Std';
  src: url("../font/CircularStd-Book.eot");
  src: url("../font/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../font/CircularStd-Book.woff") format("woff"), url("../font/CircularStd-Book.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'GT Walsheim';
  src: url("../font/GTWalsheimMedium.eot");
  src: url("../font/GTWalsheimMedium.eot?#iefix") format("embedded-opentype"), url("../font/GTWalsheimMedium.woff") format("woff"), url("../font/GTWalsheimMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

p.italic, form input.italic,
form .italic::-webkit-input-placeholder {
  font-style: italic; }

h1, h2, .h1 {
  font-size: 1.5rem;
  font-weight: 700; }

h3, p.large, form input.large,
form .large::-webkit-input-placeholder {
  font-size: 1.5rem;
  font-weight: bold; }

h4, .menu, .button-rounded, .button-rounded-blue, .button-rounded-white, .founders span.founders-school, .h4 {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #1A1B1C; }

h5 {
  font-size: 0.95rem;
  font-weight: 700;
  color: #050B1A; }

p, form input,
form ::-webkit-input-placeholder {
  font-weight: 300; }
  p cite, form input cite,
  form ::-webkit-input-placeholder cite {
    font-style: italic; }

.menu, .button-rounded, .button-rounded-blue, .button-rounded-white {
  transition: 0.2s linear opacity; }
  .menu:hover, .button-rounded:hover, .button-rounded-blue:hover, .button-rounded-white:hover {
    opacity: 0.75; }

.card-text {
  font-size: 0.7rem;
  font-weight: 300;
  text-align: left; }

@media screen and (max-width: 1024px) {
  .menu, .button-rounded, .button-rounded-blue, .button-rounded-white, h4, .menu, .button-rounded, .button-rounded-blue, .button-rounded-white, .founders span.founders-school {
    font-size: 1.0rem; }
  .card-text {
    font-size: 0.875rem;
    line-height: 1.075rem; } }

@media screen and (max-width: 768px) {
  h1, h2, .h1 {
    font-size: 2.5rem; }
  p, form input,
  form ::-webkit-input-placeholder {
    font-size: 1.5rem; }
  .menu, .button-rounded, .button-rounded-blue, .button-rounded-white, h4, .menu, .button-rounded, .button-rounded-blue, .button-rounded-white, .founders span.founders-school {
    font-size: 1.0rem; } }

@media screen and (max-width: 640px) {
  h1, h2, .h1 {
    font-size: 2.25rem; }
  h2 {
    font-size: 1.5rem; }
  h3, p.large, form input.large,
  form .large::-webkit-input-placeholder {
    font-size: 1.25rem; } }

@media screen and (max-width: 480px) {
  h1, h2, .h1 {
    font-size: 1.75rem; }
  h4, .menu, .button-rounded, .button-rounded-blue, .button-rounded-white, .founders span.founders-school {
    font-size: 1.25rem; }
  p, form input,
  form ::-webkit-input-placeholder {
    font-size: 1.25rem; }
  .menu, .button-rounded, .button-rounded-blue, .button-rounded-white, h4, .menu, .button-rounded, .button-rounded-blue, .button-rounded-white, .founders span.founders-school {
    font-size: 1.0rem; } }

html, body {
  color: #050B1A;
  font-family: "Circular Std", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  position: relative;
  animation: .7s fade-in;
  position: relative; }
  html.scroll-lock, body.scroll-lock {
    overflow-x: hidden; }

a, a:hover {
  text-decoration: none;
  cursor: pointer; }

img {
  max-width: 100%; }

input {
  -webkit-appearance: none;
  outline: none; }

/*
 * Helper Functions & Mixins
 */
@media screen and (max-width: 640px) {
  hr {
    margin-bottom: 4rem; } }

.content {
  margin: 0 auto;
  max-width: 66rem;
  width: 90%; }
  .content:after {
    clear: both;
    content: ' ';
    display: block;
    height: 0; }
  .content [class^="col-"] {
    box-sizing: border-box;
    float: left;
    padding: 0 1.2rem;
    display: block;
    float: left; }
    .content [class^="col-"].col-centered {
      float: none;
      margin: 0 auto; }
    .content [class^="col-"].col-right {
      float: right; }
  .content .col-12 {
    width: 100%; }
  .content .col-10 {
    width: 83.333333%; }
  .content .col-8 {
    width: 66.666666%; }
  .content .col-6 {
    width: 50%; }
  .content .col-4 {
    width: 33.333333%; }
  .content .col-3 {
    width: 25%; }
  .content .col-2 {
    width: 16.666666%; }
  .content .col-1 {
    width: 8.333333%; }

.centered-content {
  left: 2rem;
  position: absolute;
  right: 2rem;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 110; }
  .centered-content .h1 + .h1 {
    margin-top: 1rem; }
  .centered-content .h1 a {
    text-decoration: underline; }

@media screen and (max-width: 768px) {
  .content {
    box-sizing: border-box;
    padding: 0 4rem;
    width: 100%; }
    .content > [class^="col"] {
      margin: 0;
      padding: 0;
      width: 100%; }
      .content > [class^="col"].m-col-4.col-3 {
        width: 25%; }
      .content > [class^="col"].m-col-6.col-3 {
        width: 50%; }
      .content > [class^="col"].m-col-12.col-10 {
        width: 100%; }
      .content > [class^="col"].m-col-12.col-4 {
        width: 100%; }
      .content > [class^="col"].m-col-12.col-12 {
        width: 100%; }
    .content.full-on-mobile {
      width: 100%; } }

@media screen and (max-width: 480px) {
  .content {
    padding: 0 1rem; }
    .content > [class^="col"].m-col-6.col-2 {
      width: 33.333333%; }
    .content > [class^="col"].m-col-6.col-3 {
      width: 50%; }
    .content > [class^="col"].m-col-4.col-3 {
      width: 33.333333%; }
    .content > [class^="col"].m-col-12.col-10 {
      width: 100%; }
    .content > [class^="col"].m-col-12.col-4 {
      width: 100%; }
    .content > [class^="col"].m-col-12.col-12 {
      width: 100%; } }

@media screen and (max-width: 1920px) {
  html, body {
    font-size: 22px; } }

@media screen and (max-width: 1024px) {
  html, body {
    font-size: 18px; } }

@media screen and (max-width: 768px) {
  html, body {
    font-size: 16px; } }

.button-rounded, .button-rounded-blue, .button-rounded-white {
  background: #0702D1;
  padding: 0.7rem 1.6rem;
  border-radius: 1.4rem;
  cursor: pointer; }

.button-rounded-blue {
  background: #0702D1;
  color: #FFFFFF;
  transition: 0.2s linear opacity; }
  .button-rounded-blue:hover {
    opacity: 0.75; }

.button-rounded-white {
  background: #FFFFFF;
  color: #0702D1;
  transition: 0.2s linear opacity; }
  .button-rounded-white:hover {
    opacity: 0.75; }

.bodylink {
  color: #0702D1;
  border-bottom: 2px solid white;
  transition: .3s; }
  .bodylink:hover {
    border-bottom: 2px solid #0702D1; }

svg rect, svg polygon, svg path {
  transition: 0.2s linear fill; }

nav {
  padding: 4rem 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  display: block; }
  nav.mobile-menu-visible {
    padding-bottom: 0;
    position: fixed; }
  nav .logo-container {
    display: block; }
    nav .logo-container.mobile-menu-visible {
      display: none; }
  nav .wrapper {
    padding: 0 1.2rem; }
  nav .drf-logo-black, nav .drf-logo-small-black, nav .drf-logo-white, nav .drf-logo-small-white {
    height: 40px;
    display: inline-block;
    float: left; }
  nav .drf-logo-small-black, nav .drf-logo-small-white {
    display: none; }
  nav .links {
    display: inline-block;
    float: right;
    height: 40px;
    transition: 0.5s ease color; }
    nav .links .hamburger-container {
      display: none; }
      nav .links .hamburger-container.mobile {
        display: block; }
    nav .links li {
      display: inline-block;
      line-height: 40px;
      margin-left: 2.5rem;
      vertical-align: middle; }
    nav .links a {
      font-size: 0.875rem; }
    nav .links a.light {
      color: #FFFFFF; }
  nav.fixed {
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate3d(0, -1rem, 0);
    transition: 0.5s ease opacity, 0.5s ease transform; }

div.mobile-nav {
  z-index: 1;
  background-color: #F2F2F4;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 8rem 3rem;
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll; }
  div.mobile-nav li {
    margin-bottom: 3rem; }
    div.mobile-nav li:last-child {
      margin-bottom: 0; }
  div.mobile-nav a.menu-link {
    color: black;
    font-size: 2.5rem;
    display: block; }

@media screen and (max-width: 1250px) {
  nav .links li {
    margin-left: 1.75rem; }
    nav .links li:nth-child(4) {
      display: none; } }

nav .links.lock > li {
  display: none;
  position: relative;
  z-index: 11; }

nav .links.lock > .hamburger-container {
  display: inline-block;
  vertical-align: middle;
  position: relative; }

@media screen and (max-width: 1024px) {
  nav .links > li {
    display: none;
    position: relative;
    z-index: 11; }
  nav .links > .hamburger-container {
    display: inline-block;
    vertical-align: middle;
    position: relative; }
  nav .hamburger {
    height: 60px;
    cursor: pointer; }
  nav .hamburger-icon .line {
    display: block;
    transform: translateY(18px); }
  nav .hamburger-icon .line, nav .hamburger-icon .line:after, nav .hamburger-icon .line:before {
    transition: transform 0.15s cubic-bezier(0, 0, 0.58, 1);
    width: 28px;
    height: 2px;
    background-color: #3f4147; }
  nav .hamburger-icon .line.light, nav .hamburger-icon .line.light:after, nav .hamburger-icon .line.light:before {
    background-color: #FFFFFF; }
  nav .hamburger-icon .line:before {
    position: absolute;
    top: 8px; }
  nav .hamburger-icon .line:after {
    position: absolute;
    top: -8px; }
  nav .hamburger-icon .line:after, nav .hamburger .line:before {
    content: '';
    left: 0; }
  nav .hamburger-icon .line.active {
    transition: background 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    background-color: transparent; }
  nav .hamburger-icon .line.active:before {
    transform: rotate3d(0, 0, 1, 45deg);
    top: 0;
    background-color: #3f4147; }
  nav .hamburger-icon .line.active:after {
    transform: rotate3d(0, 0, 1, -45deg);
    top: 0;
    background-color: #3f4147; } }

@media screen and (max-width: 500px) {
  img.drf-logo-small-black, img.drf-logo-small-white {
    display: inline; }
  img.drf-logo-black, img.drf-logo-white {
    display: none; }
  div.mobile-nav li {
    margin-bottom: 2rem; }
    div.mobile-nav li:last-child {
      margin-bottom: 0; }
  div.mobile-nav a.menu-link {
    font-size: 1.6rem; } }

footer {
  background-color: #F2F2F4;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex; }
  footer .wrapper {
    padding: 0 1.25rem; }
  footer .vertically-centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  footer .title,
  footer .title-mobile {
    float: left;
    margin: 1% 0%; }
  footer .title-mobile {
    display: none; }
  footer .links {
    display: inline-block;
    font-size: 0;
    float: right;
    margin: 1% 0%; }
    footer .links li {
      display: inline-block;
      margin-left: 6rem;
      vertical-align: middle;
      cursor: pointer; }
      footer .links li:hover {
        opacity: 0.75; }
      footer .links li:first-child {
        margin-left: 0rem; }
    footer .links a {
      font-size: 0.875rem; }
    footer .links .icon {
      height: 1rem;
      margin-right: 0.5rem; }
    footer .links .link-box {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      transition: ease; }

@media screen and (max-width: 1024px) {
  footer .title,
  footer .title-mobile {
    font-size: 1.25rem; }
  footer .links li {
    margin-left: 2rem; }
  footer .link-text {
    display: none; }
  footer .title {
    display: none; }
  footer .title-mobile {
    display: block; } }

.light-text {
  color: #FFFFFF; }

/* Hero Section*/
.hero-wrapper {
  box-sizing: border-box;
  float: left;
  padding: 0 1.2rem;
  display: inline-block;
  float: left;
  width: 75%;
  margin-top: 12rem;
  animation: 1s fade-in; }

.hero-header {
  text-align: left; }

.hero-subheader {
  width: 95%;
  text-align: left;
  margin-top: 1rem; }

.hero-investors {
  height: 80px; }

.ramp {
  width: 100vw;
  animation: 1s fade-in; }

.ramp-mobile {
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0; }

.section-logos > .content {
  padding-bottom: 6rem;
  padding-top: 6rem; }

.section-logos .hero-investors-text {
  margin-top: 3.5rem; }

.section-logos .logos {
  padding-top: 5rem; }
  .section-logos .logos svg:not(:hover) path {
    fill: #A5Acb6; }
  .section-logos .logos .col-3 {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem; }

.section-logos .logo {
  height: 3rem; }

.section-logos .logos-wrapper {
  box-sizing: border-box;
  float: left;
  padding: 0 1.2rem;
  float: none; }

@media screen and (max-width: 1024px) {
  .section-logos .logos .col-10 .content {
    padding: 0rem 3rem; }
  .section-logos .logos .col-3 {
    padding: 1.0rem 0; } }

@media screen and (max-width: 640px) {
  .section-logos .logos .content {
    padding: 0; }
  .hero-container {
    min-height: 100vh; }
  .hero-wrapper {
    margin-top: 30vh; }
  .hero-wrapper {
    width: 100%; }
  .hero-subheader {
    display: none; }
  .ramp {
    display: none; }
  .ramp-mobile {
    display: inline; } }

/* Shared Sections */
.bg-colored-gray {
  width: 100vw;
  background-color: #F2F2F4; }

.bg-colored-blue {
  width: 100vw;
  background-color: #0702D1; }

.colored-section-header {
  text-align: left; }

.colored-section-subheader {
  text-align: left;
  margin-top: 1rem; }

.colored-section-button {
  margin-top: 2rem;
  float: left; }

/* Community Section */
.community-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  display: flex;
  align-items: center; }

.community-wrapper {
  box-sizing: border-box;
  float: left;
  padding: 0 1.2rem;
  display: inline-block;
  float: left;
  width: 60%; }

.community-image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  object-fit: cover; }

@media screen and (max-width: 640px) {
  .community-image {
    display: none; }
  .community-wrapper {
    width: 100%; } }

/* Founders Section */
.founders-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  display: flex;
  align-items: center; }

.founders-wrapper {
  box-sizing: border-box;
  float: left;
  padding: 0 1.2rem;
  display: inline-block;
  float: right;
  width: 60%;
  padding-left: 4rem; }

.founders-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 40%;
  object-fit: cover; }

.founders-image-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0; }

.founders-image-caption {
  position: relative;
  font-weight: 300;
  text-align: center;
  vertical-align: middle; }

@media screen and (max-width: 640px) {
  .founders-image,
  .founders-image-overlay,
  .founders-image-caption {
    display: none; }
  .founders-wrapper {
    box-sizing: border-box;
    float: left;
    padding: 0 1.2rem;
    float: left;
    width: 100%; } }

/* Value Section */
.value-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative; }

.value-section-subheader {
  margin-top: 1rem; }

.value-section-cards {
  margin-top: 4rem; }

.value-section-card {
  padding: 2rem 0rem;
  background-color: white;
  transition: all 0.4s ease;
  /*&:hover {
    box-shadow: 0px 6px #00E0C0, 0px 12px $blue;
    transform: translate(-4px,-4px); 
    // box-shadow: 6px 6px gray;
  }*/ }

.value-section-text {
  margin-top: 0.5rem; }

/*Apply Section*/
.apply-section {
  padding-top: 4rem;
  position: relative; }

.apply-section-wrapper {
  box-sizing: border-box;
  float: left;
  padding: 0 1.2rem;
  float: none; }

.apply-section-subheader {
  margin-top: 1rem; }

.apply-section-button {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 4rem; }

/*Resources Section*/
.resources-section {
  margin-top: 0;
  margin-bottom: 4rem; }

.resources-section-wrapper {
  box-sizing: border-box;
  float: left;
  padding: 0 1.2rem; }

.resources-section-header {
  margin-bottom: 3rem; }

.email-title {
  color: rgba(0, 0, 0, 0.3);
  margin-top: 1.25rem;
  margin-bottom: 1rem; }

.medium-title {
  color: rgba(0, 0, 0, 0.3);
  margin-top: 3rem; }
  .medium-title .gray-underline {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: .3s; }
    .medium-title .gray-underline:hover {
      color: #0702D1;
      border-bottom: 2px solid #0702D1; }

.medium-content-links {
  margin-top: 1.25rem; }

.medium-article {
  width: 100%;
  height: 75%;
  object-fit: cover;
  object-position: 50% 0; }

.medium-article-title {
  color: #050B1A; }

@media screen and (max-width: 768px) {
  .medium-card {
    margin-bottom: 2rem; }
    .medium-card.last {
      margin-bottom: 0; } }

form input,
form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */ }

form input[type="text"] {
  border: 1px solid #DBDBDB;
  padding: 0.8rem 0.8rem 0.8rem 1rem;
  width: 14rem;
  border-radius: 0.1rem; }

form input[type="submit"] {
  color: #FFFFFF;
  padding: 0.8rem 3rem;
  text-decoration: none;
  background: #0702D1;
  border-radius: 0.1rem;
  border: none;
  cursor: pointer;
  transition: 0.2s linear opacity; }
  form input[type="submit"]:hover {
    opacity: 0.75; }

form .container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  max-width: 50rem;
  margin: auto; }

form .validation-message {
  margin-top: 1rem;
  display: block;
  color: red; }
  form .validation-message.hidden {
    display: none; }

@media screen and (max-width: 1024px) {
  form .container {
    height: 13rem;
    width: auto;
    flex-direction: column;
    justify-content: space-between; } }

.banner {
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #1dd79d;
  transition: height 0.5s;
  display: flex;
  align-items: center;
  font-size: 0.8rem; }
  .banner.banner--visible {
    height: 50px; }
  .banner .banner__message {
    flex-grow: 1;
    padding-left: 10px; }
    .banner .banner__message a {
      color: #050B1A;
      border-bottom: 1px dotted #050B1A; }
  .banner .banner__close {
    width: 50px;
    font-size: 1.1rem;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: #050B1A; }
  @media screen and (max-width: 1024px) {
    .banner.banner--visible {
      height: 45px; }
    .banner .banner__close {
      width: 45px; } }
  @media screen and (max-width: 640px) {
    .banner.banner--visible {
      height: 55px; } }

.founders .founders-hero-photo {
  width: 100%;
  min-height: 30rem;
  background-color: #2855E3;
  position: relative;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem; }

.founders .founders-header {
  margin-bottom: 4rem;
  font-weight: 300; }

.founders .overlay-text {
  opacity: 1;
  text-align: left;
  color: #FFFFFF;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem; }
  .founders .overlay-text > div.mobile-only {
    display: none; }
  @media screen and (max-width: 425px) {
    .founders .overlay-text > div {
      display: none; }
      .founders .overlay-text > div.mobile-only {
        display: block; } }

.founders .tile {
  position: relative;
  overflow: auto; }

.founders .tile-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  object-fit: cover;
  object-position: 50% 0;
  display: block; }
  @media screen and (max-width: 480px) {
    .founders .tile-img.brooklinen {
      object-position: 90% 0; }
    .founders .tile-img.fiscalnote {
      object-position: 55% 0; } }

.founders .tile-img {
  transition: .5s ease; }

.founders .tile:hover .tile-img {
  cursor: pointer;
  opacity: 1; }

.founders .founders-hero-grid {
  animation: 1s fade-in-up;
  display: flex;
  flex-direction: row;
  height: 28rem; }
  .founders .founders-hero-grid > div:nth-child(1) {
    width: calc(100% / 3 * 2);
    display: flex;
    flex-direction: column;
    height: 100%; }
    .founders .founders-hero-grid > div:nth-child(1) > div:nth-child(1) {
      height: 40%;
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-bottom: 0.25rem; }
      .founders .founders-hero-grid > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
        width: 50%;
        height: 100%;
        margin-right: 0.25rem; }
      .founders .founders-hero-grid > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
        width: 50%;
        height: 100%;
        margin-left: 0.25rem; }
    .founders .founders-hero-grid > div:nth-child(1) > div:nth-child(2) {
      height: 60%;
      width: 100%;
      margin-top: 0.25rem; }
  .founders .founders-hero-grid > div:nth-child(2) {
    margin-left: 0.5rem;
    height: 100%;
    width: calc(100% / 3 * 1); }

.founders a.founders-card-link {
  text-transform: none;
  letter-spacing: initial; }

.founders .founders-hero-wrapper {
  box-sizing: border-box;
  float: left;
  padding: 0 1.2rem;
  float: none;
  text-align: center;
  margin-top: 12rem;
  margin-bottom: 4rem; }

.founders .founders-grid-wrapper {
  padding: 0 1.2rem; }

.founders .founders-grid-container {
  margin: 4rem 0;
  margin-top: 1rem; }

.founders .founders-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.founders .founders-column {
  width: 33.33333%;
  max-width: 33.33333%;
  min-width: 33.33333%;
  flex-basis: 33.33333%; }

.founders .founders-card {
  border: 1px solid #D7D4D4;
  padding: 1rem;
  margin: 0.5rem 0.5rem 1rem 0; }

.founders hr.founders-card-top-bar {
  border-top: 10px solid; }

.founders .founders-card-bio,
.founders .founders-card-school {
  color: #7e7e7e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.founders .founders-card-school {
  color: #050B1A; }

.founders span.founders-school {
  font-weight: 300;
  font-size: 0.875;
  color: #797b83;
  width: initial;
  background: #FFFFFF;
  padding-right: 0.5rem; }

.founders .founders-school-mobile {
  text-align: left;
  display: none; }

.founders .founders-line {
  width: 100%;
  height: 20px;
  text-align: left; }
  .founders .founders-line.last {
    width: calc(100% - 0.5rem); }

@media screen and (max-width: 1024px) {
  .founders .founders-column {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    flex-basis: 50%; } }

@media screen and (max-width: 768px) {
  .founders .founders-column {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-basis: 100%;
    text-align: center; }
  .founders .founders-line {
    display: none; }
  .founders .founders-school-mobile {
    display: block; } }

.founders-feature nav {
  position: relative; }

.founders-feature .feature-wrapper {
  box-sizing: border-box;
  float: left;
  padding: 0 1.2rem;
  float: initial;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: inline-block;
  width: 100%; }

.founders-feature .text {
  text-align: left;
  padding-right: 8rem; }
  @media screen and (max-width: 768px) {
    .founders-feature .text {
      padding-right: 0; } }
  .founders-feature .text .feature-name {
    font-size: 2.5rem; }
    @media screen and (max-width: 768px) {
      .founders-feature .text .feature-name {
        margin-top: 1rem; } }
  .founders-feature .text .feature-summary {
    margin-top: 0.5rem;
    margin-bottom: 3rem; }
  .founders-feature .text .feature-bio > p, .founders-feature .text form .feature-bio > input, form .founders-feature .text .feature-bio > input, .founders-feature .text
  form .feature-bio > ::-webkit-input-placeholder,
  form .founders-feature .text .feature-bio > ::-webkit-input-placeholder {
    margin-top: 1rem; }

.founders-feature .sidebar {
  margin-bottom: 2rem;
  font-size: 0.7rem; }
  @media screen and (max-width: 768px) {
    .founders-feature .sidebar {
      display: none;
      font-size: 1rem; } }
  .founders-feature .sidebar.bottom {
    margin-top: 2rem;
    display: none; }
    @media screen and (max-width: 768px) {
      .founders-feature .sidebar.bottom {
        display: block; } }

.founders-feature .overview-list {
  text-align: left;
  margin-top: 1rem;
  font-weight: 300; }
  .founders-feature .overview-list :nth-child(1) {
    font-weight: 700; }

.founders-feature .bio-line-break {
  margin-top: 1rem; }

.menu-highlight {
  color: #0702d1; }

.scroll-back-to-top {
  visibility: hidden;
  position: fixed;
  width: 2.5%;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s 0s, visibility 0s 0.2s; }
  .scroll-back-to-top:hover {
    opacity: 0.8; }

.scroll-back-to-top__show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s; }

hr.team-divider {
  border-top: 1px solid #E3E3E3; }

.team-divider-title {
  font-size: 2em;
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 1rem; }
  .team-divider-title a {
    color: #1a1b1c; }
  .team-divider-title a.team-divider-title-link:hover {
    opacity: 0.75; }

.team-divider-subtitle {
  margin: 1rem 0;
  text-align: left; }

.team-alumni-navigation {
  padding: 0 1.2rem;
  text-align: right;
  margin-top: 4rem; }
  .team-alumni-navigation .team-current-link {
    display: inline-block;
    margin-left: 2rem;
    cursor: pointer; }
    .team-alumni-navigation .team-current-link:hover {
      opacity: 0.75; }
  .team-alumni-navigation .team-alumni-link {
    display: inline-block;
    margin-left: 2rem;
    cursor: pointer; }
    .team-alumni-navigation .team-alumni-link:hover {
      opacity: 0.75; }

.team-alumni-description {
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #7e7e7e; }
  .team-alumni-description a {
    color: #0702d1; }

.team-alumni-grid-wrapper {
  padding: 0 1.2rem; }

.team-alumni-grid-container {
  margin: 4rem 0;
  margin-top: 1rem; }

.team-alumni-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.team-alumni-column {
  width: 33.33333%;
  max-width: 33.33333%;
  min-width: 33.33333%;
  flex-basis: 33.33333%; }

.team-alumni-card {
  transition: 0.15s ease;
  border: 30px solid white;
  padding: 0rem;
  margin: 0rem;
  outline: none; }
  .team-alumni-card:hover {
    transition: 0.15s ease;
    background-color: #dafbf1; }
    .team-alumni-card:hover div.team-alumni-card-top-bar {
      color: #1dd79d;
      transition: 0.15s ease; }

div.team-alumni-card-top-bar {
  transition: 0.15s ease;
  border-top: 3px solid;
  color: #0702d1; }

.team-alumni-card-name {
  margin-left: 10px;
  margin-top: 5px; }

.team-alumni-card-link .icon {
  height: 0.9rem;
  margin-left: 0.3rem; }

.team-alumni-card-link:hover {
  opacity: 0.5; }

.team-alumni-card-school {
  color: #7e7e7e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  margin-bottom: 10px; }

.team-alumni-card-company {
  color: #050B1A;
  margin-left: 10px; }

.team-alumni-school-mobile {
  text-align: left;
  display: none; }

@media screen and (max-width: 1024px) {
  .team-alumni-card:hover {
    background-color: white; }
  .team-alumni-column {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    flex-basis: 50%; }
  .scroll-back-to-top {
    width: 3.5%;
    bottom: 17.5px;
    right: 17.5px; } }

@media screen and (max-width: 768px) {
  .team-alumni-navigation {
    font-size: 1px;
    text-align: left;
    padding: 2px;
    margin-bottom: 1rem; }
    .team-alumni-navigation .team-current-link {
      display: inline-block;
      margin-left: 1rem;
      cursor: pointer; }
    .team-alumni-navigation .team-alumni-link {
      display: inline-block;
      margin-left: 1rem;
      cursor: pointer; }
  .team-divider {
    margin-bottom: 0; }
  .team-alumni-description {
    display: none; }
  .team-alumni-card:hover {
    background-color: white; }
  .team-alumni-column {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-basis: 100%;
    text-align: center; }
  .team-alumni-card {
    border: 20px solid white; }
  .scroll-back-to-top {
    width: 5%;
    right: 15px;
    bottom: 15px; } }

.team .team-hero-wrapper {
  padding: 0 1.2rem; }

.team .hero-text {
  animation: 0.5s fade-in;
  font-weight: 300; }

.team .team-hero-wrapper .team-hero-subheader {
  margin-top: 1rem; }

.team .team-wrapper {
  padding: 0 1.2rem;
  margin-bottom: 4rem; }

.team .team-hero-photo {
  z-index: -1;
  width: 100%;
  height: 60vh;
  min-height: 30rem;
  background-image: url("../img/community-photo-blue.jpg");
  background-size: cover;
  background-position: center 0;
  position: relative;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.team .team-card-text {
  display: inline-block;
  vertical-align: middle;
  width: 9.5rem; }
  .team .team-card-text .team-card-name {
    text-align: left; }
  .team .team-card-text .team-card-school {
    color: #000000; }
  .team .team-card-text .team-card-bio {
    line-height: 0.9rem;
    margin-top: 0.25rem;
    color: #7e7e7e; }

.team .team-card-container {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: inline-block; }

.team .team-card-image {
  border-radius: 50%;
  height: 5.5rem;
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle; }

.team .team-grid-container {
  padding: 0 2rem; }

.team .team-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.team .team-column {
  width: 33.33333%;
  max-width: 33.33333%;
  min-width: 33.33333%;
  flex-basis: 33.33333%;
  text-align: center; }

@media screen and (max-width: 1440px) {
  .team .team-grid-container {
    padding: 0 0rem; }
  .team .team-card-text {
    width: 7rem; } }

@media screen and (max-width: 1080px) {
  .team .team-card-text {
    width: 6rem; }
  .team .team-card-image {
    height: 5rem; } }

@media screen and (max-width: 1024px) {
  .team .team-card-text {
    width: 12rem; }
  .team .team-card-image {
    height: 5.5rem; }
  .team .team-column {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    flex-basis: 50%;
    text-align: center; } }

@media screen and (max-width: 880px) {
  .team .team-card-text {
    font-size: 0.875rem;
    width: 9rem; } }

@media screen and (max-width: 768px) {
  .team .team-column {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-basis: 100%;
    text-align: center; }
  .team .team-card-text {
    width: 23rem; } }

@media screen and (max-width: 640px) {
  .team .team-card-text {
    font-size: 0.875rem;
    width: 12rem; } }

@media screen and (max-width: 480px) {
  .team .team-grid-container {
    padding: 0; }
  .team .team-card-text {
    width: 8rem; } }

.error-wrapper {
  padding: 0 1.2rem;
  min-height: 90vh; }

.oops-text {
  padding-top: 16rem; }

.error-description-text {
  margin-top: 2rem; }

.error-description-code {
  margin-top: 0.5rem; }

.App {
  text-align: center; }
