html, body {
  color: $black;
  font-family: $sans;
  font-size: 16px;
  font-weight: $regular;
  height: 100%;
  line-height: 1.5;
  position: relative;
  animation: .7s fade-in;

}

a, a:hover {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

input {
  -webkit-appearance: none;
  outline: none;
}

/*
 * Helper Functions & Mixins
 */

@mixin clearfix {
  &:after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
  }
}

@function contains($list, $var) {
  $_out: false;
  @each $item in $list { @if $item == $var { $_out: true; } }
  @return $_out;
}


@media screen and (max-width: $phone-landscape-max) {
  hr {
    margin-bottom: 4rem;
  }
}
