$button-rounded-horizontal-padding: 1.6rem;
$button-rounded-vertical-padding: 0.7rem;
$button-rounded-radius: 1.4rem;

.button-rounded, %button-rounded {
  @extend .menu;
  background: $blue;
  padding: $button-rounded-vertical-padding $button-rounded-horizontal-padding;
  border-radius: $button-rounded-radius;
  cursor: pointer;
}


.button-rounded-blue {
  @extend .button-rounded;
  background: $blue;
  color: $white;
  transition: $t-hover-opacity;
  &:hover {
    opacity: $semi-trans;
  }
}

.button-rounded-white {
	@extend .button-rounded;
	background: $white;
	color: $blue;
  transition: $t-hover-opacity;
  &:hover {
    opacity: $semi-trans;
  }
}