$blue: #0964EE;
$white: #FFFFFF;
$light-gray: #F3F5F5;
$medium-gray: #CCCCCC;
$dark-gray: #999999;
$black: #030303;
$true-black: #000000;
$green: #2FEDAD;
$near-black: #1A1B1C;
$purple: #463C88;

$gray-divider: #E3E3E3;

// Forms
$light-gray-border: #DBDBDB;
$light-gray-text: rgba(0,0,0,0.3);

