$text-height: 1.5rem;

footer {
  background-color: $light-gray;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;

  .wrapper {
    padding: 0 1.25rem;
  }

  .vertically-centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title, .title-mobile {
    float: left;
  }
  
  .title-mobile {
    display: none;
  }

  .links {
    display: inline-block;
    font-size: 0;
    float: right;

    li {
      display: inline-block;
      margin-left: 6rem;
      vertical-align: middle;
      cursor: pointer;

      &:hover {
        opacity: $semi-trans;
      }

      &:first-child {
        margin-left: 0rem;
      }
    }

    a {
      font-size: 0.875rem;
    }
  
    .icon {
      height: 1rem;
      margin-right: 0.5rem;
    }

    .link-box {
      display: flex;
      justify-content: flex-end;
      align-items: center;

    }
  }
}

@media screen and (max-width: $tablet-portrait-max) {
  footer {
    .title, .title-mobile {
      font-size: 1.5rem;
    }
    .links {
      li {
        margin-left: 2rem;
      }
    }
  }
}

@media screen and (max-width: $phone-landscape-max) {
  footer {
    .title, .title-mobile {
      font-size: 1.25rem;
    }

    .links {
      li {
        margin-left: 2rem;
      }
    }

    .link-text {
      display: none;
    }

    .title {
      display: none;
    }

    .title-mobile {
      display: block;
    }

  }
}
