$card-in-between-spacing: 0.5rem;

.founders {
	.founders-hero-photo {
		z-index: -1;
		width: 100%;
		min-height: 30rem;	
		background-color: $blue-background;
		position:relative;
		right: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.founders-hero-grid-text {
		text-align: left;
	}

	$grid-height: 20rem;
	$grid-separator: 0.5rem;
	.founders-hero-grid {
		display: flex;
		flex-direction: row;
		height: $grid-height;
		> div {
			&:nth-child(1) {
				width: calc(100% / 3 * 2);
				display: flex;
				flex-direction: column;

				> div {
					&:nth-child(1) {
						height: 50%;
						width: 100%;
						display: flex;
						flex-direction: row;
						margin-bottom: 0.5 * $grid-separator;

						> div { 
							// ELEMENT - FIRST ROW LEFT 
							&:nth-child(1) {
								width: 50%;
								height: 100%;
								background-color: green;
								margin-right: 0.5 * $grid-separator;
							}
							// ELEMENT - FIRST ROW RIGHT
							&:nth-child(2) {
								width: 50%;
								height: 100%;
								background-color: black;
								margin-left: 0.5 * $grid-separator;
							}
						}
					}
					// ELEMENT - SECOND ROW
					&:nth-child(2) {
						height: 50%;
						width: 100%;
						background-color: orange;
						margin-top: 0.5 * $grid-separator;
					}
				}
			}
			// ELEMENT - RIGHT HALF
			&:nth-child(2) {
				margin-left: $grid-separator;
				width: calc(100% / 3 * 1);
				background-color: green;
			}
		}
	}

	a.founders-card-link {
		text-transform: none;
		letter-spacing: initial;
	}
	.founders-hero-wrapper {
		@include column;
		float: none;
		text-align: center;
		margin-top: 12rem;
		margin-bottom: 4rem;
	}
	.founders-grid-wrapper {
		padding: 0 $content-padding;
	}

	.founders-grid-container {
		margin: $section-padding 0;
	}

	.founders-grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	$desktop-columns: 3;
	$tablet-columns: 2;
	$mobile-columns: 1;

	.founders-column {
	  width: percentage( 1 / $desktop-columns );
	  max-width: percentage( 1 / $desktop-columns );
	  min-width: percentage( 1 / $desktop-columns );
	  flex-basis: percentage( 1 / $desktop-columns );
	}

	.founders-card {
		border: 1px solid $gray-divider;
		padding: 1rem;
		margin: 0.5rem $card-in-between-spacing 1rem 0;
	}

	.founders-card-bio {
		color: $gray-card-text;
		white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
	}

	span.founders-school {
		@extend h4;
		font-weight: 300;
		font-size: 0.875;
		color: #797B83;
		width: initial;
		background: $white;
		padding-right: 0.5rem;
	}

	.founders-school-mobile {
		text-align: left;
		display: none;
	}

	.founders-line {
		width: 100%; 
		height: 20px; 
		// border-bottom: 1px solid #797B83; 
		text-align: left;

		&.last {
			width: calc(100% - 0.5rem);
		}
	}

	@media screen and (max-width: $tablet-landscape-max) {
		.founders-column {
			width: percentage( 1 / $tablet-columns );
			max-width: percentage( 1 / $tablet-columns );
			min-width: percentage( 1 / $tablet-columns );
			flex-basis: percentage( 1 / $tablet-columns );
		}
	}

	@media screen and (max-width: $tablet-portrait-max) {
		.founders-column {
		  width: percentage( 1 / $mobile-columns );
		  max-width: percentage( 1 / $mobile-columns );
		  min-width: percentage( 1 / $mobile-columns );
		  flex-basis: percentage( 1 / $mobile-columns );
		  text-align: center;
		}

		.founders-line {
			display: none;
		}

		.founders-school-mobile {
			display: block;
		}
	}

}
