$between-text-spacing: 1rem;
$section-padding: 4rem;
$between-button-spacing: 2rem;

.section, %section {
  min-height: 30vh;
}

.light-text {
  color: $white;
}

/* Hero Section*/
.hero-wrapper {
  @include column;
  display: inline-block;
  float: left;
  position: relative;
  width: 75%;
  z-index: 2;
}

.hero-header {
	text-align: left;
	padding-top: 12rem;
}

.hero-subheader {
	width: 95%;
	text-align: left;
	margin-top: $between-text-spacing;
}

.hero-investors-text {
	@extend h2;
	margin-top: 3.5rem;
	font-size: 1rem;
}

.hero-investors {
	height: 80px;
}

.ramp {
	width: 100vw;
}


.logo-section .content  {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logos {
  margin: 0 -1.25rem;
  padding-top: 5rem;

  svg:not(:hover) path {
    fill: $dark-gray;
  }

  .col-3 {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
  }
}

.logo {
	height: 3rem;
}


.section-logos {
  > .content {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }

  .hero-investors-text {
		@extend h2;
		margin-top: 3.5rem;
		font-size: 1rem;
	}

  .logos {
    margin: 0 -1.25rem;
    padding-top: 5rem;

    svg:not(:hover) path {
      fill: $dark-gray;
    }

    .col-3 {
      padding-bottom: 1.25rem;
      padding-top: 1.25rem;
    }
  }

  .logo {
  	height: 3rem;
  }
}

@media screen and (max-width: $tablet-landscape-max) {
  .section-logos {
    .logos {
      .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .col-3 {
        padding: 1.0rem 0;
      }
    }
  }
}

@media screen and (max-width: $phone-landscape-max) {
  .section-logos {

    > .content {
      padding-bottom: 2rem;
      padding-top: 4rem;
    }

    .logos {
      padding-top: 2rem;
    }
  }
}



/* Community Section */
.community-section {
  @extend .section;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  position: relative;
  display: flex;
  align-items: center;
}

.community-wrapper {
  @include column;
  display: inline-block;
  float: left;
  width:60%;
}

.community-image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  object-fit: cover;
}

/* Founders Section */
.founders-section {
  @extend .section;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  position: relative;
  display: flex;
  align-items: center;
}

.founders-wrapper {
  @include column;
  display: inline-block;
  float: right;
  width: 60%;
  padding-left: $section-padding;
}

.founders-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 40%;
  object-fit: cover;
}

.founders-image-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  background-color: rgba(0, 0, 0, .35);
  opacity: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $between-text-spacing 0;
}

.founders-image-caption {
  position: relative;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

/* Blue Section */
.bg-colored-blue {
  width: 100vw;
  background-color: $blue;
}

.colored-section-header {
  text-align: left;
}

.colored-section-subheader {
  text-align: left;
  margin-top: $between-text-spacing;
}

.colored-section-button {
  margin-top: $between-button-spacing;
  float: left;
}

