$blue: #0964ee;
$white: #ffffff;
$light-gray: #f3f5f5;
$medium-gray: #cccccc;
$dark-gray: #999999;
$black: #030303;
$true-black: #000000;
$green: #2fedad;
$near-black: #1a1b1c;
$purple: #463c88;

$blue-background: #2855e3;

$gray-divider: #e3e3e3;

$gray-box: #d7d4d4;

$gray-card-text: #919191;

// Forms
$light-gray-border: #dbdbdb;
$light-gray-text: rgba(0, 0, 0, 0.3);
